//
// Movie card
//////////////

.movie-card {
  position: relative;
  //max-width: 300px;
  height: 450px;
  background: url('http://image.tmdb.org/t/p/w300/gfJGlDaHuWimErCr5Ql0I8x9QSy.jpg') center / cover;
  margin: 8px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.6s ease;
  //flex: 0 1 auto;
  z-index: 1;
  overflow: visible;

  @media (max-width: 479px) {
    cursor: default;
  }

  & > .mdl-card__actions {
    height: 150px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__meta {
    font-size: 1rem;
    &__rating {
      color: $accent-color;
      font-weight: 500;
      padding-left: 16px;
    }
  }

  &__genres {
    font-size: 1rem;
    color: $secondary-color;
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__overview {
    padding-top: 4px;
    font-size: 0.9rem;
    overflow: hidden;
    max-height: 45px;
  }

  // https://codepen.io/Guilh/pen/ILJAl?editors=1100
  &__arrow  {
    width: 115px;
    height: 115px;
    position: absolute;
    bottom: -3px;
    left: calc(50% - 60px);
    clip: rect(auto, 180px, auto, 100px);
    transform: rotate(90deg);
    opacity: 0;

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      background: linear-gradient(45deg, transparent 0%, rgba(0, 232, 113, 0.1) 87%, #00e871 100%);
      transform: rotate(45deg);
    }
  }

}


.movie-card.is-active {
  .movie-card__arrow {
    opacity: 1;
  }
}

// MDL card overrides
.mdl-textfield {

  &__input {
    font-family: $primary-font;
  }

  &__label {
    color: white;

    &:after {
      background-color: white;
    }
  }

}


//&__arrow {
//  position: absolute;
//  bottom: -15px;
//  left: calc(50% - 15px);
//  width: 0;
//  height: 0;
//  border-style: solid;
//  border-width: 35px 35px 0 35px;
//  border-color: $accent-color transparent transparent transparent;
//}