//
// Loader
///////////

// Colors
/////////
$primary-color: #FFFFFF;
$secondary-color: rgba(255,255,255,0.6);;
$accent-color: #00e871;

// Fonts
/////////
$font-size: 14px;
$primary-font: 'Raleway', sans-serif;
