@import "variables";
@import "overrides";
@import "loader";
@import "movie-card";
@import "jawbone";


body, html {
  height: 100%;
  font-family: $primary-font;
  font-size: $font-size;
}

.now-playing__header {
    font-family: $primary-font;
    margin-left: 24px;
  }

section {
  color: white !important;
}

section {
  width: 100%;
  padding: 0 15vw !important;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: scroll;
  margin: 0 -35px 0 0px !important; //xbrowser hide scrollbars

  @media (max-width: 1312px) {
    padding-left: calc(1vw - 20px) !important;
    padding-right: 1vw !important;
  }
}












