@import "variables";
@import "overrides";
@import "loader";
@import "movie-card";
@import "jawbone";


body, html {
  height: 100%;
  font-family: $primary-font;
  font-size: $font-size;
}

.now-playing__header {
    font-family: $primary-font;
    margin-left: 24px;
  }

section {
  color: white !important;
}

section {
  width: 100%;
  //max-width: 1312px;
  //padding-left: 16px;
  //padding-right: 16px;
  padding: 0 15vw !important;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: scroll;

  margin: 0 -20px 0 0 !important;

  @media (max-width: 1312px) and (min-width: 721px) {
    //max-width: 1400px;
    //padding-left: 60px;
    //padding-right: 60px;
    padding: 20px !important;
  }
}












