/**
 *  Colors
 **/
/**
 *  Fonts
 **/
body, html {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.mdl-layout__container,
.mdl-layout__header,
.mdl-layout__drawer,
.mdl-navigation {
  background: #212121 !important;
  color: white !important;
}

.mdl-layout__container, .mdl-layout-title {
  font-family: "Raleway", sans-serif;
}

.mdl-navigation__link.is-active {
  color: #00e871;
  border-bottom: 2px solid #00e871;
}

.page__header {
  font-family: "Raleway", sans-serif;
  margin-left: 24px;
}

section {
  color: white !important;
}

.mdl-layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  width: 100%;
  max-width: 1312px;
  padding-left: 16px;
  padding-right: 16px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1312px) and (min-width: 721px) {
  section {
    max-width: 1400px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.mdl-card {
  min-height: 0;
}

.movie-card > .mdl-card__actions {
  height: 150px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movie-card {
  height: 450px;
  background: url("http://image.tmdb.org/t/p/w300/gfJGlDaHuWimErCr5Ql0I8x9QSy.jpg") center/cover;
  margin: 8px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.6s ease;
}

.movie-card__title {
  font-size: 1.3rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card__meta {
  font-size: 1rem;
}

.movie-card__meta__rating {
  color: #00e871;
  font-weight: 500;
  padding-left: 16px;
}

.movie-card__genres {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card__overview {
  padding-top: 4px;
  font-size: 0.9rem;
  overflow: hidden;
  max-height: 45px;
}

.mdl-textfield__input {
  font-family: "Raleway", sans-serif;
}

.mdl-textfield__label {
  color: white;
}

.mdl-textfield__label:after {
  background-color: white;
}

.jawbone {
  font-family: "Raleway", sans-serif;
  color: white;
  position: relative;
  max-height: 520px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
  width: calc(100% - 16px);
  margin: 8px;
  overflow: hidden;
  background-position: right;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.3s ease;
}

.jawbone.is-open {
  height: 450px;
  visibility: visible;
  opacity: 1;
}

.jawbone:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, black 38%, rgba(0, 0, 0, 0.7) 45%, transparent 70%);
  z-index: -1;
}

.jawbone__close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  padding: 24px 8px;
  cursor: pointer;
  z-index: 1;
}

.jawbone__close span {
  display: block;
  border-bottom: 2px solid white;
  width: 32px;
}

.jawbone__close span:first-of-type {
  -webkit-transform: rotate(45deg) translateX(1px);
          transform: rotate(45deg) translateX(1px);
}

.jawbone__close span:last-of-type {
  -webkit-transform: rotate(-45deg) translateX(1px);
          transform: rotate(-45deg) translateX(1px);
}

.jawbone__tabs-nav {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 42px;
  width: 30vw;
  z-index: 1;
}

.jawbone__tabs-nav span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  height: 24px;
  padding: 8px 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.jawbone__tabs-nav span:hover {
  color: #FFFFFF;
}

.jawbone__tabs-nav span.is-active, .jawbone__tabs-nav span:active, .jawbone__tabs-nav span:focus, .jawbone__tabs-nav span:visited {
  color: #FFFFFF;
  border-bottom: 2px solid #00e871;
}

.jawbone__overview, .jawbone__trailers, .jawbone__reviews, .jawbone__similar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.jawbone__overview.is-active, .jawbone__trailers.is-active, .jawbone__reviews.is-active, .jawbone__similar.is-active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}

.jawbone__overview {
  width: 40%;
  padding: 24px;
}

.jawbone__overview__title {
  font-size: 3rem;
  padding: 16px;
  line-height: 1;
}

.jawbone__overview__meta {
  padding: 8px;
}

.jawbone__overview__meta span {
  font-size: 1.5rem;
  padding: 0 8px;
}

.jawbone__overview__meta__rating {
  color: #00e871;
}

.jawbone__overview__genres {
  padding: 8px 16px;
}

.jawbone__overview__description {
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 16px;
  max-height: 115px;
  overflow: scroll;
}

.jawbone__trailers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jawbone__trailers__no-trailer {
  display: none;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}

.jawbone__trailers__trailer {
  width: 20vw;
  margin: 16px;
  cursor: pointer;
  display: none;
}

.jawbone__trailers__trailer__img img {
  width: 100%;
  height: auto;
}

.jawbone__trailers__trailer__title {
  font-size: 1rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.6);
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

.jawbone__reviews {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jawbone__reviews__no-review {
  display: none;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}

.jawbone__reviews__review {
  width: 40vw;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 8px;
  display: none;
}

.jawbone__reviews__review__author {
  font-size: 1.2rem;
  color: #FFFFFF;
  padding: 8px;
}

.jawbone__reviews__review__text {
  font-size: 0.9rem;
  padding: 8px 8px 24px 8px;
}

.jawbone__similar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jawbone__similar__no-similar {
  display: none;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}

.jawbone__similar__movie {
  position: relative;
  width: 15%;
  height: 70%;
  margin: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-image: url(http://image.tmdb.org/t/p/w300/gfJGlDaHuWimErCr5Ql0I8x9QSy.jpg);
  background-size: cover;
  display: none;
  overflow: scroll;
}

.jawbone__similar__movie:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease;
}

.jawbone__similar__movie:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.jawbone__similar__movie:hover:before, .jawbone__similar__movie:hover .jawbone__similar__movie__title, .jawbone__similar__movie:hover .jawbone__similar__movie__meta, .jawbone__similar__movie:hover .jawbone__similar__movie__overview {
  opacity: 1;
  background: black;
}

.jawbone__similar__movie__title {
  opacity: 0;
  position: relative;
  padding: 8px;
  font-size: 1.2rem;
  background: black;
}

.jawbone__similar__movie__meta {
  opacity: 0;
  padding: 0 8px;
  background: black;
}

.jawbone__similar__movie__meta span {
  position: relative;
  font-size: 1.1rem;
  padding-right: 8px;
}

.jawbone__similar__movie__meta__year {
  color: rgba(255, 255, 255, 0.6);
}

.jawbone__similar__movie__meta__rating {
  color: #00e871;
}

.jawbone__similar__movie__overview {
  opacity: 0;
  position: relative;
  font-size: 0.9rem;
  padding: 8px;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease;
}

form {
  padding-left: 24px;
  height: 60px;
}

.mdl-textfield__label,
.mdl-textfield__input {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  text-align: center;
  background: transparent;
  width: 100%;
  display: none;
}

.loader svg path,
.loader svg rect {
  fill: rgba(255, 255, 255, 0.6);
}
