doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        title MovieRama

        link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.blue_grey-green.min.css")

        // build:css styles/vendor.css
        // bower:css
        // endbower
        // endbuild

        // Fonts
        link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        // build:css styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        // endbuild

    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            block header
            main.mdl-layout__content
                section#now-playing.mdl-grid
                    block now-playing
                section#search.mdl-grid
                    block search
            block loader

        script(src='https://code.getmdl.io/1.3.0/material.min.js')

        // build:js scripts/vendor.js
        // bower:js
        script(src='/bower_components/smoothscroll/dist/smoothscroll.js')
        // endbower
        // endbuild

        // build:js scripts/app.js
        // bower:js
        script(src='scripts/services/dataservice.js')
        script(src='scripts/common/moviecard.js')
        script(src='scripts/common/jawbone.js')
        script(src='scripts/app.js')
        // endbower
        // endbuild
