doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title MovieRama
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.blue_grey-green.min.css")
    // endbower
    // endbuild

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100,300,400,600,700|Open+Sans:100,300,400,600,700&subset=greek', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      block header
      main.mdl-layout__content
        section#now-playing.mdl-grid
          block now-playing
        section#search
          block search

    script(src='scripts/main.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/smoothscroll/dist/smoothscroll.js')
    script(src='https://code.getmdl.io/1.3.0/material.min.js')
