header.mdl-layout__header
  .mdl-layout__header-row
    span.mdl-layout-title MovieRama
    .mdl-layout-spacer
    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link(href='#now-playing') In Theaters
      a.mdl-navigation__link(href='#search') Search Movies
.mdl-layout__drawer.mdl-layout--small-screen-only
  span.mdl-layout-title MovieRama
  nav.mdl-navigation
    a.mdl-navigation__link.is-active(href='#now-playing') In Theaters
    a.mdl-navigation__link(href='#search') Search Movies

