
<!--| Search movies here-->
<form>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" id="search-input" type="text"/>
    <label class="mdl-textfield__label" for="search-input">Search for movies here</label>
  </div>
</form>
<!-- Movie card template-->
<div class="movie-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <div class="movie-card__title">Wonder Woman</div>
    <div class="movie-card__meta"><span class="movie-card__meta__year">2017</span><span class="movie-card__meta__rating">6.7/10</span></div>
    <div class="movie-card__genres">Action, Adventure, Drama, Western</div>
    <div class="movie-card__overview">An Amazon princess comes to the world of Man to become the greatest of the female superheroes.</div>
  </div>
  <div class="movie-card__arrow"></div>
</div>
<!-- Jawbone template-->
<div class="jawbone js-jawbone mdl-cell--12-col">
  <div class="jawbone__close js-jawbone-close"><span></span><span></span></div>
  <!-- Bottom navigation tabs-->
  <div class="jawbone__tabs-nav js-jtabs-nav"><span class="is-active" data-target="overview">Overview</span><span data-target="trailers">Trailers</span><span data-target="reviews">Reviews</span><span data-target="similar-movies">Similar</span></div>
  <!-- Overview tab-->
  <div class="jawbone__overview js-overview is-active">
    <div class="jawbone__overview__title js-title">Wonder Woman</div>
    <div class="jawbone__overview__meta"><span class="jawbone__overview__meta__year js-year">2017</span><span class="jawbone__overview__meta__rating js-rating">6.7/10</span></div>
    <div class="jawbone__overview__genres js-genres">Action, Adventure, Drama, Western</div>
    <div class="jawbone__overview__description js-description">An Amazon princess comes to the world of Man to become the greatest of the female superheroes.</div>
  </div>
  <!-- Trailers tab-->
  <div class="jawbone__trailers js-trailers">
    <div class="jawbone__trailers__no-trailer js-no-trailer"><span>Sorry, no trailer found. Why don't you &nbsp;</span><a href="href" target="_blank">add one?</a></div><a class="jawbone__trailers__trailer js-trailer" href="href" target="_blank">
      <div class="jawbone__trailers__trailer__img"><img src="http://img.youtube.com/vi/5lGoQhFb4NM/sddefault.jpg"/></div>
      <div class="jawbone__trailers__trailer__title">Official Comic-Con Trailer</div></a><a class="jawbone__trailers__trailer js-trailer" href="href" target="_blank">
      <div class="jawbone__trailers__trailer__img"><img src="http://img.youtube.com/vi/5lGoQhFb4NM/sddefault.jpg"/></div>
      <div class="jawbone__trailers__trailer__title">Official Comic-Con Trailer</div></a><a class="jawbone__trailers__trailer js-trailer" href="href" target="_blank">
      <div class="jawbone__trailers__trailer__img"><img src="http://img.youtube.com/vi/5lGoQhFb4NM/sddefault.jpg"/></div>
      <div class="jawbone__trailers__trailer__title">Official Comic-Con Trailer</div></a><a class="jawbone__trailers__trailer js-trailer" href="href" target="_blank">
      <div class="jawbone__trailers__trailer__img"><img src="http://img.youtube.com/vi/5lGoQhFb4NM/sddefault.jpg"/></div>
      <div class="jawbone__trailers__trailer__title">Official Comic-Con Trailer</div></a>
  </div>
  <div class="jawbone__reviews js-reviews">
    <div class="jawbone__reviews__no-review js-no-review"><span>Sorry, no reviews for this movie yet. &nbsp;</span><a href="href" target="_blank">Be the first</a>&nbsp; to write one.</div>
    <div class="jawbone__reviews__review js-review">
      <div class="jawbone__reviews__review__container">
        <div class="jawbone__reviews__review__author"><i>by</i><span class="js-review-author"> Gimly</span></div>
        <div class="jawbone__reviews__review__text js-review-text">
          I'd just like to thank Patty Jenkins for making a DCIThoughtSheWasWithUniverse movie that wasn't fucking garbage.
          If I'm being completely honest, the two people I went to the cinema to watch _Wonder Woman_ with and I did spend the next two hours after coming out of our screening discussing the various problems with the movie, but we also all agreed on one thing: We still loved it.
          Maybe it's just the rose-coloured glasses of comparison, but I had an excellent time with _Wonder Woman_, and I'm excited to go back to the cinema and watch it, at least one more time.
          It's the first time I've said that about a DC movie since _The Dark Knight Rises_.
          _Final rating:★★★½ - I strongly recommend you make the time._
        </div>
      </div>
    </div>
    <div class="jawbone__reviews__review js-review">
      <div class="jawbone__reviews__review__container">
        <div class="jawbone__reviews__review__author"><i>by</i><span class="js-review-author"> Gimly</span></div>
        <div class="jawbone__reviews__review__text js-review-text">
          I'd just like to thank Patty Jenkins for making a DCIThoughtSheWasWithUniverse movie that wasn't fucking garbage.
          If I'm being completely honest, the two people I went to the cinema to watch _Wonder Woman_ with and I did spend the next two hours after coming out of our screening discussing the various problems with the movie, but we also all agreed on one thing: We still loved it.
          Maybe it's just the rose-coloured glasses of comparison, but I had an excellent time with _Wonder Woman_, and I'm excited to go back to the cinema and watch it, at least one more time.
          It's the first time I've said that about a DC movie since _The Dark Knight Rises_.
          _Final rating:★★★½ - I strongly recommend you make the time.
        </div>
      </div>
    </div>
  </div>
  <!-- Similar movies tab-->
  <div class="jawbone__similar js-similar-movies">
    <div class="jawbone__similar__no-similar js-no-similar">No related movies found for this title.</div>
    <div class="jawbone__similar__movie js-similar">
      <div class="jawbone__similar__movie__title js-similar-title">Wonder Woman</div>
      <div class="jawbone__similar__movie__meta"><span class="jawbone__similar__movie__meta__year js-similar-year">2017</span><span class="jawbone__similar__movie__meta__rating js-similar-rating">6.7/10</span></div>
      <div class="jawbone__similar__movie__overview js-similar-overview">An Amazon princess comes to the world of Man to become the greatest of the female superheroes.</div>
    </div>
    <div class="jawbone__similar__movie js-similar">
      <div class="jawbone__similar__movie__title js-similar-title">Wonder Woman</div>
      <div class="jawbone__similar__movie__meta"><span class="jawbone__similar__movie__meta__year js-similar-year">2017</span><span class="jawbone__similar__movie__meta__rating js-similar-rating">6.7/10</span></div>
      <div class="jawbone__similar__movie__overview js-similar-overview">An Amazon princess comes to the world of Man to become the greatest of the female superheroes.</div>
    </div>
    <div class="jawbone__similar__movie js-similar">
      <div class="jawbone__similar__movie__title js-similar-title">Wonder Woman</div>
      <div class="jawbone__similar__movie__meta"><span class="jawbone__similar__movie__meta__year js-similar-year">2017</span><span class="jawbone__similar__movie__meta__rating js-similar-rating">6.7/10</span></div>
      <div class="jawbone__similar__movie__overview js-similar-overview">An Amazon princess comes to the world of Man to become the greatest of the female superheroes.</div>
    </div>
    <div class="jawbone__similar__movie js-similar">
      <div class="jawbone__similar__movie__title js-similar-title">Wonder Woman</div>
      <div class="jawbone__similar__movie__meta"><span class="jawbone__similar__movie__meta__year js-similar-year">2017</span><span class="jawbone__similar__movie__meta__rating js-similar-rating">6.7/10</span></div>
      <div class="jawbone__similar__movie__overview js-similar-overview">An Amazon princess comes to the world of Man to become the greatest of the female superheroes.</div>
    </div>
  </div>
</div>