
<!-- Movie card template-->
<div class="movie-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <div class="movie-card__title">Wonder Woman</div>
    <div class="movie-card__meta"><span class="movie-card__meta__year">2017</span><span class="movie-card__meta__rating">6.7/10</span></div>
    <div class="movie-card__genres">Action, Adventure, Drama, Western</div>
    <div class="movie-card__overview">An Amazon princess comes to the world of Man to become the greatest of the female superheroes.</div>
  </div>
  <div class="movie-card__arrow"></div>
</div>