// Movie card template
.movie-card.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
        .movie-card__title Wonder Woman
        .movie-card__meta
            span.movie-card__meta__year 2017
            span.movie-card__meta__rating 6.7/10
        .movie-card__genres Action, Adventure, Drama, Western
        .movie-card__overview An Amazon princess comes to the world of Man to become the greatest of the female superheroes.

